.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 1, 70, 0.996);
    color: whitesmoke;
    border-radius: 1em ;
    flex-basis: 4em;
  }
  .mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 2em;
    flex-wrap: wrap;
    
  }
  .card1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 2px solid;
    flex-basis: 3em;
  }
  .card2{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 2px solid;
    flex-basis: 3em;
  }
  .card3{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 2px solid;
    flex-basis: 3em;
  }
  .card4{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 2px solid;
    flex-basis: 3em;
    border: 1px solid;
  }
  .topSpace{
    flex-basis: 1em;
  }
  .bottomSpace{
    flex-basis: 1em;
  }
  body{
    height: 100vh;
  }